<button mat-button
        class="position-fixed"
        #contextMenuTrigger="matMenuTrigger"
        [matMenuTriggerFor]="menu"
        [style.left.px]="menuPositionLeft"
        [style.top.px]="menuPositionTop"></button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="shapeToTop()">To top</button>
  <button mat-menu-item (click)="shapeToBottom()">To bottom</button>
  <button mat-menu-item (click)="deleteShape()">Delete</button>
</mat-menu>

<mat-toolbar color="primary">
  <button mat-icon-button aria-label="Example icon-button with menu icon"
          (click)="selectedShape = ShapeType.CAR">
    <mat-icon>directions_car</mat-icon>
  </button>
  <button mat-icon-button aria-label="Example icon-button with menu icon"
          (click)="selectedShape = ShapeType.PARKING">
    <mat-icon>local_parking</mat-icon>
  </button>
</mat-toolbar>

<div id="container">

</div>
